<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Welcome and Setup</td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro.html">Into to R and RStudio</a></td> </tr>
      <tr> <td>10:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/02-project-intro.html">Project Management With RStudio</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/03-seeking-help.html"></a></td>  <td>Seeking Help</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1.html"></a></td>  <td>Data Structures</td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2.html"></a></td>  <td>Exploring Data Frames</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon Break</td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/06-data-subsetting.html"></a></td>  <td>Subsetting Data</td> </tr>
      <tr> <td>15:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/09-vectorization.html"></a></td>  <td>Vectorization</td> </tr>
      <tr> <td>16:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/11-writing-data.html"></a></td>  <td>Writing Data</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>End</td> </tr>z
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Recap</td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/07-control-flow.html"></a></td>  <td>Control Flow</td> </tr>
      <tr> <td>10:15</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/10-functions.html"></a></td>  <td>Functions Explained</td> </tr>
      <tr> <td>11:15</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/12-dplyr.html"></a></td>  <td>Data Frame Manipulation with dplyr</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/12-dplyr.html"></a></td>  <td>Data Frame Manipulation with dplyr</td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2.html"></a></td>  <td>Creating Publication-Quality Graphics with ggplot2</td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon Break</td> </tr>
      <tr> <td>15:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/14-knitr-markdown.html"></a></td>  <td>Producing Report with Knitr</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
