<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="https://docs.google.com/forms/d/1J6TgiKGk6EyTpJZv4XKCpVZt_mqDPuS-86lHm6Al7TY/edit">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Welcome and Setup</td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro.html">Into to R and RStudio</a></td> </tr>
      <tr> <td>10:30</td>  <td><a href="https://ytakemon.github.io/2019-10-22-R-BCCRC/02-filedir/">Navigating Files and Directories</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/02-project-intro.html">Project Management With RStudio</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/03-seeking-help.html">Seeking Help</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break (on your own) </td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/04-data-structures-part1.html">Data Structures</a></td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/05-data-structures-part2.html">Exploring Data Frames</a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon Break</td> </tr>
      <tr> <td>15:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/06-data-subsetting.html">Subsetting Data</a></td> </tr>
      <tr> <td>15:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/09-vectorization.html">Vectorization</a></td> </tr>
      <tr> <td>16:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/11-writing-data.html">Writing Data</a></td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>End</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Recap</td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/07-control-flow.html">Control Flow</a></td> </tr>
      <tr> <td>10:15</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/10-functions.html">Functions Explained</a></td> </tr>
      <tr> <td>11:15</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/12-dplyr.html">Data Frame Manipulation with dplyr</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break (on your own)</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/12-dplyr.html">Data Frame Manipulation with dplyr</a></td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2.html">Creating Publication-Quality Graphics with ggplot2</a></td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon Break</td> </tr>
      <tr> <td>15:30</td>  <td><a href="https://swcarpentry.github.io/r-novice-gapminder/14-knitr-markdown.html">Producing Report with Knitr</a></td> </tr>
      <tr> <td>16:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>17:00</td>  <td>End</td> </tr>
    </table>
  </div>
</div>
